body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    background-color: #00274D;
    color: white;
    padding: 10px;
}

button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #003366;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 300px;
    margin: 20px auto;
    padding: 15px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, label {
    margin-bottom: 10px;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
}